<div *ngIf="sensor">
  <div>
  <h5 class="h5">{{sensor.name}}</h5>
  <h6 class="h6">Sensor key {{sensor.id}} Location {{location.id}}</h6>
  </div>
  <div [id]="chartId"></div>
  <input *ngIf="!sizeSmall" type="checkbox" [(ngModel)]="seek" (click)="toggleSeek()"> Seek Chart

  <div *ngIf="seek">
    <app-date-slider [single]="false" *ngIf="prepared" [small]="sizeSmall"
                     [fromDateObj]="fromDate" [toDateObj]="toDateMax"
                                           (dateFilterChange)="onDateRangeChange($event)"></app-date-slider>
  </div>
</div>






