<div class="btn-group-horizontal" role="group">
  <button type="button" class="btn btn-outline-info" (click)="switchOptions(1)">Option1</button>
  <button type="button" class="btn btn-outline-info" (click)="switchOptions(2)">Option2</button>
</div>
<div class="container-fluid" style="margin-left: 100px; margin-top: 40px;">
  <h2 class="h2" style="margin-top: 40px;">Sensor Status</h2>
  <div class="row" style="height: 600px">
      <div class="col-7">
      <div id="sensorNetChart"></div>
      <div id="sensorNetChart2"></div>
      </div>
      <div class="col-3">
        <app-scale-legend [color]="true" [min]="0" [max]="100"></app-scale-legend>
      </div>
  </div>
  <div class="row">
    <div *ngIf="selectedLocation">
      <div class="row">
        <div class="col">
          <app-chart [sensor]="signalSensor" [location]="selectedLocation" [sizeSmall]="true"></app-chart>
        </div>
        <div class="col">
          <app-chart [sensor]="batterySensor" [location]="selectedLocation" [sizeSmall]="true"></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container" style="margin-top: 40px;">-->
  <!--<h2 class="h2" style="margin-top: 40px;">Sensor Network</h2>  -->
  <!--<div class="row" style="height: 600px">-->
      <!--<div id="sensorNetChart2"></div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div *ngIf="selectedLocation">-->
      <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<app-chart [sensor]="signalSensor" [location]="selectedLocation" [sizeSmall]="true"></app-chart>-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<app-chart [sensor]="batterySensor" [location]="selectedLocation" [sizeSmall]="true"></app-chart>-->
    <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




