<button class="btn btn-primary" (click)="goBack()">go back</button>
<h4>Sensor List</h4>
<ul class="sensors">
  <li *ngFor="let sensor of sensors">
    <a role="button" (click)="showChart(sensor)"><span>{{sensor.id}} </span>
      {{sensor.name}}</a>
  </li>
</ul>
<div *ngIf="chart">
<div *ngIf="chart.id === 1">
  <app-bar-chart [sensor]="selectedSensor"></app-bar-chart>
</div>
<div *ngIf="chart.id === 2">
<app-chart [sensor]="selectedSensor"></app-chart>
</div>
  <div *ngIf="chart.id === 3">
    <app-scatter-plot [sensor]="selectedSensor"></app-scatter-plot>
  </div>
</div>
