<div id="tunnelNetChart" class="container-fluid" style="margin-top: 30px; margin-left: 40px;">
  <h4 class="h4">Sensor List</h4>
  <ng-progress [color]="'blue'" [thick]="true"></ng-progress>
  <div class="row">
    <div class="col-2">
      <div class="btn-group-vertical" role="group">
        <button *ngFor="let sensor of sensors" type="button" class="btn btn-outline-info"
                (click)="showChart(sensor)">{{sensor.name}}</button>
      </div>
    </div>
    <div class="col-9">
      <div *ngIf="chart">
        <div *ngIf="chart.id === 1">
          <app-bar-chart [sensor]="selectedSensor" [location]="location"></app-bar-chart>
        </div>
        <div *ngIf="chart.id === 2">
          <app-chart [sensor]="selectedSensor" [location]="location" [sizeSmall]="false"></app-chart>
        </div>
        <div *ngIf="chart.id === 3">
          <app-scatter-plot [sensor]="selectedSensor" [location]="location"></app-scatter-plot>
        </div>
      </div>
    </div>
  </div>
</div>
