div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

* >>> .grid .tick {
  stroke: black;
  stroke-width: 0.2px;
  opacity: 5;
}

* >>> .mouseTooltip {
  font: 12px "Verdana";
}
* >>> .mouseTooltip path,
* >>> .mouseTooltip line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
