<div [class]="styleBack" style="background: lightblue">
  <div *ngIf="!single">
  <nouislider [class]="style"
              [connect]="true" [min]="1" [max]="maxNum" [step]="1"
              [(ngModel)]="dateRange" [tooltips]="[true, true]" [format]="toolTipFormat"
              (ngModelChange)="onChange($event)"></nouislider>
  <div>
    <span class="date-limits">{{fromDateDisp}}</span>
    <span class="date-limits" style="float: right">{{toDateDisp}}</span>
  </div>
  </div>
  <div *ngIf="single">
    <nouislider [class]="style"
                [connect]="false" [min]="1" [max]="maxNum" [step]="1" [tooltips]="[true]" [format]="toolTipFormat"
                [(ngModel)]="singleDate" (ngModelChange)="onChange($event)"></nouislider>
    <div>
      <span class="date-limits">{{fromDateDisp}}</span>
      <span class="date-limits" style="float: right">{{toDateDisp}}</span>
    </div>
  </div>
</div>


