<div class="container-fluid" style="margin-top: 40px; margin-left: 100px">
  <h2 class="h2" style="margin-top: 40px;">Tunnel Network</h2>
  <div class="row">
    <div class="col-8">
      <ng-progress [color]="'blue'" [thick]="true"></ng-progress>
      <div id="tunnelNetChart">
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <select style="width: 150px" class="form-control" [(ngModel)]="selectedSensorType" (change)="typeSelected()">
          <option *ngFor="let type of sensorTypes" [ngValue]="type">{{type.name}}</option>
        </select>
      </div>
      <div *ngIf="dataReady" class="row">
        <app-scale-legend [sensor]="selectedSensorType" [color]="false" [min]="minVal" [max]="maxVal"></app-scale-legend>
      </div>
    </div>
  </div>
</div>

