<div class="btn-group-horizontal" role="group">
  <button *ngFor="let i of [1,2,3,4,5,6,7]" type="button" class="btn btn-outline-info"
          (click)="switchOptions(i)">Option{{i}}</button>
</div>
<div class="container-fluid" style="margin-top: 40px;">
  <h4 class="h4" style="margin-top: 40px;">Tunnel Network</h4>
  <div class="row">
    <div class="col-lg-9">
      <ng-progress [color]="'blue'" [thick]="true"></ng-progress>
      <!--<button type="button" class="btn btn-outline-info"-->
              <!--(click)="playRealTime()">{{realTimePlay.buttonName}}</button>-->
      <div id="tunnelNetChart" class="svg-container">
      </div>
    </div>
    <div class="col-md-1">
      <div class="row">
        <select style="width: 150px" class="form-control" [(ngModel)]="selectedSensorType" (change)="typeSelected()">
          <option *ngFor="let type of sensorTypes" [ngValue]="type">{{type.name}}</option>
        </select>
        <div *ngIf="selectedOption === 3 || selectedOption === 4 || selectedOption === 7"
             style="margin-top: 150px" id="frameRectlegend">
        </div>
        <div *ngIf="selectedOption === 1 || selectedOption === 6 || selectedOption === 2">
          <app-scale-legend [sensor]="selectedSensorType" [color]="legendColor" [min]="minVal" [max]="maxVal"></app-scale-legend>
        </div>
        <!--<div *ngIf="selectedOption === 2">-->
          <!--<app-scale-legend [sensor]="selectedSensorType" [color]="colorTypes.btr" [min]="minVal" [max]="maxVal"></app-scale-legend>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>


