<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Data Viz Tool</span>
    </div>
    <!--<ul class="nav navbar-nav">-->
      <!--<li class="active"><a href="#">-->
        <!--Link <span class="sr-only">(current)</span>-->
      <!--</a></li>-->
      <!--<li><a routerLink="/home">Sensors</a></li>-->
      <!--<li class="dropdown" dropdown> &lt;!&ndash; {1} &ndash;&gt;-->
        <!--<a dropdownToggle role="button"> &lt;!&ndash; {2} &ndash;&gt;-->
          <!--Dropdown <span class="caret"></span></a>-->
        <!--<ul *dropdownMenu class="dropdown-menu"> &lt;!&ndash; {3} &ndash;&gt;-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</nav>
<router-outlet></router-outlet>



