* >>> .grid .tick {
  stroke: green;
  stroke-width: 0.4px;
  opacity: 1;
  font: 10px Verdana;
  font-style: oblique;
}
* >>> .axis {
  font: 10px Verdana;
  font-style: oblique;
}
* >>> .axis path,
* >>> .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
