* >>> .grid .tick {
  stroke: green;
  stroke-width: 0.4px;
  opacity: 1;
  font: 10px Verdana;
  font-style: oblique;
}
* >>> .axis {
  font: 10px Verdana;
  font-style: oblique;
}
* >>> .axis path,
* >>> .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
